<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png" />
  <link href="css/style.css" rel="stylesheet" />

  <script src="https://unpkg.com/vue@latest"></script>

  <title>Frontend Mentor | Recipe page</title>
</head>

<body class="v-container items-center gap-4 bg-eggshell pb-4 sm:p-8 sm:pb-4">
  <main class="grow-1 min-w-[275px] max-w-[725px] bg-white sm:rounded-3xl">
    <article id="recipe-page" class="recipe-page v-container gap-8 font-outfit text-wenge-brown">
      <header class="v-container gap-10">
        <figure class="sm:pl-8 sm:pr-8 sm:pt-8">
          <img :src="data.image" alt="food-preview" width="1312" height="600" class="sm:rounded-xl"/>
        </figure>
        <section class="v-container gap-4">
          <h1 class="text-4xl text-dark-charcoal font-medium font-young-serif">{{ data.title }}</h1>
          <p>{{ data.description }}</p>
        </section>
        <section class="bg-rose-white gap-3 text-wenge-brown p-5 pr-6 pl-6 rounded-xl">
          <h2 class="text-dark-raspberry font-bold font-outfit text-lg">Preparation time</h2>
          <ul>
            <li>
              <span class="marker text-dark-raspberry mr-6">•</span>
              <span><b>Total: </b>{{ data.prepTime.total}}</span>
            </li>
            <li>
              <span class="marker text-dark-raspberry mr-6">•</span>
              <span><b>Preparation: </b> {{ data.prepTime.preparation }}</span>
            </li>
            <li>
              <span class="marker text-dark-raspberry mr-6">•</span>
              <span><b>Cooking: </b>{{ data.prepTime.cooking }}</span>
            </li>
          </ul>
        </section>
      </header>
      <section>
        <header>
          <h2>Ingredients</h2>
        </header>
        <ul v-for="ingredient in data.ingredients">
          <li>
            <span class="marker">▪</span>
            <span>{{ ingredient }}</span>
          </li>
        </ul>
      </section>
      <hr />
      <section>
        <header>
          <h2>Instructions</h2>
        </header>
        <ol v-for="instruction in data.instructions">
          <li>
            <b>{{ instruction.preface }}: </b>{{ instruction.main }}
          </li>
        </ol>
      </section>
      <hr />
      <section>
        <header>
          <h2>Nutrition</h2>
        </header>
        <p>{{ data.nutrition.description }}</p>
        <table>
          <tbody>
            <tr>
              <th scope="row">Calories</th>
              <td>{{ data.nutrition.calories }}</td>
            </tr>
            <tr>
              <th scope="row">Carbs</th>
              <td>{{ data.nutrition.carbs }}</td>
            </tr>
            <tr>
              <th scope="row">Protein</th>
              <td>{{ data.nutrition.protein }}</td>
            </tr>
            <tr>
              <th scope="row">Fat</th>
              <td>{{ data.nutrition.fat }}</td>
            </tr>
          </tbody>
        </table>
      </section>
    </article>
  </main>
  <footer class="text-center text-footer text-xs min-w-[275px] max-w-[625px]">
    <span class="nowrap">
      Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge" target="_blank" class="text-blue">Frontend Mentor</a>.
    </span>
    <span class="nowrap"> Coded by <a href="#" class="text-blue">Vitaly Chetverikov</a>.</span>
  </footer>

  <script src="src/js/main.js" type="module"></script>
</body>

</html>