@layer base {
    :root {
        font-size: 4.25vw;
    }

    @font-face {
        font-family: Outfit;
        src: url("../../assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
    }

    @font-face {
        font-family: "Young Serif";
        src: url("../../assets/fonts/young-serif/YoungSerif-Regular.ttf");
    }

    .recipe-page section {
        @apply mr-8 ml-8;
    }

    .v-container {
        @apply flex flex-col flex-nowrap;
    }

    .h-container {
        @apply flex flex-row flex-nowrap;
    }
}
