@layer base {
    :root {
        font-size: 4.275vw;
    }

    @font-face {
        font-family: Outfit;
        src: url("../../assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
    }

    @font-face {
        font-family: "Young Serif";
        src: url("../../assets/fonts/young-serif/YoungSerif-Regular.ttf");
    }

}
